@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #FF8400;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jumbotron{
  margin: 20px 0 300px 0;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  height: 240px;
  display: flex;
  align-items: center;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.dsv-text-primary {
  color: var(--color-primary) !important;
}

a,
a:hover, .dsv-link {
  color: unset;
  text-decoration: none;
}
